#gall{
  height: 100%
}
.contents .picks{
  width: 8vw;
  max-height: 15vh;
}
.contents {
  display: inline-flex;
}
.contents div{
  margin-left: 5vw;
}
@media screen and (max-width:1277px){
  .picks{
    display: none;
  }
}
