
  <div id="about"  class="extras">
    <div>
      <h2>About Max</h2>
      <p>
        I am a full stack developer who is driven by curiosity and is happiest when working through tough problems. I am a lover of education and creativity. I am currently (09/02/2016) enrolled at Galvanize's Web Development Immersive program. While going through this program I have most found my niche in coding. It is technological storytelling, developers are the Homers' (Greece, not Springfield) of the modern era. <br />
        I am very big believer that anyone can learn anything, with the proper guidance and motivation. My life's pursuit is to make the world a little bit better. Whether it is a clever way of reducing food waste or providing people a platform for well thought out lessons on programming, I aim to help people in my life.<br />
         My passion for coding is founded on the idea that development is a fluid environment; trends, popular frameworks and best practices change frequently. I am comfortable with both back end (Node.js, Express and SQL) and front end (AngularJS, React, HTML5, CSS3 and much more) technologies.
      </p>
    </div>
  </div>
  <div class="extras">
    <div>
      <h3>Future Goals</h3>
      <p>
        For now my primary career goal is to be a junior developer in an environment that fosters learning, whether it is achieved through pair programming or encouraged research into new languages, frameworks and libraries. Personally, within a year I would like to have completed the process of setting up a non-profit organization that teaches children, teens, young adults and adults coding. The focus of the organization is going to be giving access to technology that disadvantaged communities are not often afforded. Eventually, I would like for the non-profit to grow to the point where it can start doing vocational rehabilitation for former inmates. Professionally, within five years I would like to be well on my way to being a senior developer.
      </p>
    </div>
  </div>
  <div class="extras">
    <div>
      <h3>Hobbies and Interests</h3>
      <p>
        I am a Denverite, born and raised, so insert here the obligatory hiking, biking and craft beers ramble most of us go on. Luckily, one of my hobbies led me into a new career, coding. I was bored at home one day when I stumble upon CodeAcademy and did their course in HTML. I am in the process of teaching myself the Johnny-Five Javascript library so I can start building Raspberry Pi/Arduino Robots, with the end goal of never having to do laundry again. I am an amateur cook, who enjoys cooking for friends. A massive bookworm, I will read anything. I love a good game of ping-pong. I am a constantly curious fellow, who dabbles in lots of different things.
      </p>
    </div>
  </div>
