<div id="gall">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">FRM API</h3>
    </div>
  <div class="panel-body">
    <div class="contents">
      <img src="../images/computer.png" class="picks"/>
      <div>
        <h4>Description:</h4>
          <p>
            The FRM API is a REST API, meant to serve as a decoupled backend for a Personal Relationship Management application. It was built using NodeJS, Express, PostgreSQL, bCrypt and KnexJS.
          </p>
      </div>
    </div>
  </div>
    <div class="panel-footer">
      <a href="https://github.com/maxsands1503/frm-combinedbackend"><img src="../images/circle.png" /></a><a href="https://obscure-basin-16378.herokuapp.com/api/connections/1001"><img src="../images/unlink.png" /></a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">FRM</h3>
    </div>
    <div class="panel-body">
      <div class="contents">
        <img src="../images/FRM.jpg" class="picks"/>
        <div>
          <h4>Description:</h4>
            <p>
              FRM is a family, friends and acquaintances personal relationship management application. Users can share lists between one another, set notifications and make private lists. It was built using React.
            </p>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="https://github.com/maxsands1503/FRM"><img src="../images/circle.png" /></a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">BounceAround</h3>
    </div>
    <div class="panel-body">
      <div class="contents">
        <img src="../images/bounceAround.jpg" class="picks"/>
        <div>
          <h4>Description:</h4>
            <p>
              BounceAround is a trip planning app. A user can set trip dates, and schedule events for days during their trip. To make adding events easier on the user, they can filter by event and location types. It was built using NodeJS, Express, KnexJS, EJS, Bootstrap, PostgreSQL and utilizes the Google Maps API and Google oAuth.
            </p>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="https://github.com/maxsands1503/BounceAround"><img src="../images/circle.png" /></a><a href="http://bouncearound.herokuapp.com/"><img src="../images/unlink.png" /></a>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Fridgedize</h3>
    </div>
    <div class="panel-body">
      <div class="contents">
        <img src="../images/Fridgedize.jpg" class="picks"/>
        <div>
          <h4>Description:</h4>
            <p>
              Fridgedize allows a user to search for recipes based on what they have available in their refrigerator. It uses HTML, CSS, jQuery and Javascript. It utilizes the Spoonacular API.
            </p>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <a href="https://github.com/maxsands1503/Fridgedize"><img src="../images/circle.png" /></a><a href="https://fridgedize.firebaseapp.com/"><img src="../images/unlink.png" /></a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">BAM Walkthroughs</h3>
    </div>
    <div class="panel-body">
      <div class="contents">
        <img src="../images/computer.png" class="picks"/>
        <div>
          <h4>Description:</h4>
            <p>
              BAM Walkthroughs is an ongoing project to help fledgling developers. It offers step-by-step walkthroughs on topics such as building a custom directive in AngularJS to building a completely decoupled app with local authorization and JSON Web Tokens.
            </p>
        </div>
      </div>
    </div>
  <div class="panel-footer">
    <a href="https://github.com/bam-walkthroughs"><img src="../images/circle.png" /></a>
  </div>
</div>
