<div class="container" id="gallery">
  <div class="row">
    <div class="col-md-2 galPic">

    </div>
    <div class="col-md-6 col-xs-12">
      <h3>BounceAround</h3>
    </div>
  </div>
  <div class="row links">

  </div>
  <div class="row">
    <div class="col-md-2 galPic">

    </div>
    <div class="col-md-6 col-xs-12">
      <h3>Fridgedize</h3>
    </div>
  </div>
  <div class="row links">

  </div>
  <div class="row">
    <div class="col-md-2 galPic">

    </div>
    <div class="col-md-6 col-xs-12">
      <h3>BAM Walkthroughs</h3>
    </div>
  </div>
  <div class="row links">

  </div>
</div>
